<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

<div class="container">
    <div class = "jumbotron">
        <h1 class="display-6">Message Client</h1>
        <p>This is a message client that you can use to communicate with the rpi and other message clients. <br>
            Commands (required): 'send', 'history' <br>
            Name (required): any name <br>
            Message (required for send): any message
        </p>
        <input id="command" class="form-control" placeholder="Command">
        <br>
        <input id="name" class="form-control" placeholder="Name">
        <br>
        <textarea id="message" class="form-control" placeholder="Message"></textarea>
        <br>
        <button id="send" class="btn btn-success">Send</button>
    </div>
    <div id="messages">

    </div>
</div>
<script>
    const HOST = '35.239.226.249'
    const PORT = '4200'
    const SERVER = `${HOST}:${PORT}`
    var socket = io();
    socket.on('connect', function() {
        socket.emit('initial-connect', 'A message client connected!');
    });
    $(() => {
        $("#send").click(()=>{
            var message = {
                sender: $("#name").val(),
                message: $("#message").val()
            }
            if($("command").val()==='send') {
                postMessage(JSON.stringify(message));
            }
            else if($("command").val()==='history') {

            }
        })
        getMessages();
    })

    socket.on('message', addMessage);

    function addMessage(message){
        $("#messages").append(`<h4> ${message.name} </h4> <p> ${message.message} </p>`)
    }

    function getMessages() {
        $.get(`http://${SERVER}/test`, (data) => {
            data.forEach(addMessage);
        })
    }

    function postMessage(message) {
        $.post(`http://${SERVER}/send-message`, message);
    }
</script>
